@page
@model Web2.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Забыли пароль?";
}

@{
    if (ViewData["Message"] != null)
    {
        <div>
            @ViewData["Message"]
        </div>
    }
}

<head>
    <link rel="stylesheet" href="~/css/Windows.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />
</head>


<h2>@ViewData["Title"]</h2>
<body>
    <form asp-page-handler="ForgotPassword" method="post" class="form-horizontal">
    <h4>Введите email.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
        <div>
        <label name="Email" class="col-md-2 control-label"></label>
            <div style="padding: 5px;" class="col-md-10">
            <input name="Email" class="inputA" />
        </div>

            <div style="padding: 5px;" class="col-md-offset-2 col-md-10">
            <button type="submit" class="inputA c-button">Отправить</button>
        </div>
    </div>
</form>
</body>